*{
    padding: 0%;
    margin: 0%;
}
.container1{
    background-color: bisque;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 120px auto 100px ;
}
.box1{
    background-color: black;
    text-decoration: dashed;
    color: azure;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
}
.box3
{
    background-color: antiquewhite;
    grid-column-start: 2;
    grid-column-end: 4;
}
.box4
{
    background-color: black;
    color: rgb(248, 248, 248);
    grid-column-start: 4;
    grid-column-end: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
}
.box2{
    background-color: rgb(130, 130, 157);
    padding: 0px;
}
.box2 >p
{
    font-size: large;
    padding: 5px;
}
.box2>p>a
{
    text-decoration: dashed;
    color: aliceblue;
    padding: 10px;
    margin-right: 40px;
}
.box31
{
    padding: 20px;
}
@media only screen and (max-width:500px)
{
.container1{
    width: 100%;
    height: 200vh;
    background-color: bisque;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 200px auto 80px; 
}
.box1{
    background-color: black;
    text-decoration: dashed;
    color: azure;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
}
.box3
{
    background-color: antiquewhite;
    grid-column-start: 1;
    grid-column-end: 2;
}
.box4
{
    background-color: black;
    color: rgb(248, 248, 248);
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
}
.box2{
    background-color: rgb(130, 130, 157);
    padding: 10px;
}
.box2 >p
{
    font-size: large;
    padding: 10px;
}
.box2>p>a
{
    text-decoration: dashed;
    color: aliceblue;
    padding: 10px;
    margin-right: 40px;
}
.box31
{
    padding: 20px;
}
}